body {
    background-image: url(../Imagenes/FondoPrueba.jpg);
    background-size: auto;
    background-repeat: repeat;
    background-attachment: fixed;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family: 'Archivo Black', sans-serif;
}

.banner>img {


    border: 5px solid black;
    border-radius: 5px;
}

.banner>img:hover {
    cursor: pointer;
}

.btn {
    border-radius: 3px !important;
}

.cajaFECHA:hover {
    background-color: #3f4d7a;
    border-color: #4d5d94;
}

.cajaFECHA {
    width: 10rem !important;
    font-size: 1rem;
    background-color: #293250;
    color: white;
    text-decoration: none;
    border-color: #4d5d94;
}

.cajaSIG {
    color: black;
    background-color: white;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
}

.cajaANT {
    color: black;
    background-color: white;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
    box-sizing: border-box;
}

.activo {
    font-weight: bold;
    color: rgb(54, 53, 53) !important;
}

.nav-item {
    font-weight: 500;
}

.animado {
    transition: transform 0.3s ease;
}

.animado:hover {
    transform: scale(1.2);
}

.nav-link {
    color: white;
}

.partido>TD {
    border: 3px solid black;
}

.botones {
    height: auto;
    width: "55%";
}

.fondoMio {
    background-color: #e5e5e5;
}

.tablaMia {
    width: 170px;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.tablaMia2 {
    width: 175px;
    height: 50px;
    align-items: center;
}

.tablaMia3 {
    width: 35px;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.tamañoMio {
    width: 230px;
}

.bordeGrueso {
    border: 2px solid rgba(83, 81, 81, 0.712);
}

.margenParaPubli {
    margin-bottom: 200px;
}

.tg td {
    border-color: rgba(83, 81, 81, 0.712);
    border-style: solid;
    border-width: 2px;
    font-family: Arial, sans-serif;
    overflow: hidden;
    word-break: normal;
}

.tg th {
    border-color: rgba(83, 81, 81, 0.712);
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    overflow: hidden;
    padding: 5px;
    word-break: normal;
}

.tg .tg-cly1 {
    text-align: left;
    vertical-align: middle
}

.tg .tg-nrix {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

.table-responsive {
    overflow-x: auto;
}

.numero {
    font-size: 1.3rem;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.tamañoPerso1 {
    width: 20%;
}

.tamañoPerso2 {
    width: 10rem;
}

.escudo {
    position: relative;
    align-items: center;
}

.recargar {
    margin-top: 1rem;
    color: red;
    font-weight: bold;
    background: none;
    border: none;
    transition: color 1s;
}

.recargar:hover {

    color: black;

}

.fecha32avos {
    display: none;
}

.fecha1 {
    display: none;
}

.fecha16avos {
    display: none;
}

.fecha2 {
    display: none;
}

.fechaOctavos {
    display: none;
}

.fecha3 {
    display: none;
}

.fechaCuartos {
    display: none;
}

.fecha4 {
    display: none;
}

.fechaSemifinales {
    display: none;
}

.fecha5 {
    display: block;
}

.fechaFinal {
    display: none;
}

.penales {
    font-size: 0.7rem;
}

th.p-2,
.estado-columna {
    width: 4rem !important;
}

.inutil {
    opacity: 0% !important;
    cursor: default !important;
}

#containerPelota {
    position: absolute;
    animation: rebota 0.4s alternate infinite ease-out, rotation 7s infinite linear, seMueve 7s infinite linear;
    bottom: 15%;
    /* Ajuste inicial */
}

@keyframes rebota {
    0% {
        bottom: 25%;
        transform: scaleY(1);
    }

    100% {
        bottom: 50%;
        transform: scaleY(1);
    }
}

@keyframes rotation {

    0%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(359deg);
        /* Rotación completa */
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-359deg);
        /* Rotación completa */
    }
}

@keyframes seMueve {

    0%,
    100% {
        left: 45%;
    }

    25% {
        left: 60%;
    }

    50% {
        left: 45%;
    }

    75% {
        left: 30%;
    }
}

#textoCargando {
    margin-top: 2rem;
    font-size: 20px;
    color: whitesmoke;
}

#punto1 {
    animation: loading1 1s infinite;
}

#punto2 {
    animation: loading2 1s infinite;
}

#punto3 {
    animation: loading3 1s infinite;
}

@keyframes loading1 {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }
}

@keyframes loading2 {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }
}

@keyframes loading3 {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }
}

#app {
    display: none;
}

.colorTiempo {
    background-color: #293250;
    color: white;
}

.colorEquipo {
    background-color: #FFD55A;
}

.colorGoles {
    background-color: #6DD47E;
}

div>div>div>table>tbody>tr>th.bg-danger {
    background-color: #293250 !important;
    color: white;
}

div>div>div>table>tbody>tr>td.col-md-auto {
    background-color: #FFD55A;
}

div>div>div>table>tbody>tr>td.bg-danger {
    background-color: #6DD47E !important;
}

.navbar {
    margin-right: none !important;
}

.fecha {
    background-color: #293250 !important;
    color: white;
    font-size: 0.8rem;
}

.hidden {
    display: none !important;
}

textarea {
    padding: 10px;
    width: 30%;
    border: none;
    border-radius: 3px;
    background-color: #202C33;
    color: #E9E1BE;

}

#inputTexto,
#inputTextoCuartos,
#inputTextoOctavos,
#inputTextoFecha2,
#inputTexto16avos,
#inputTextoFecha3,
#inputTextoFecha4,
#inputTextoSemifinales,
#inputTextoFecha1,
#inputTexto32avos {
    resize: none;
    /* Evita que el usuario pueda redimensionar el textarea */
    overflow-y: hidden;
    /* Oculta el desplazamiento vertical */
}

#campoInput,
#campoInputCuartos,
#campoInputOctavos,
#campoInputFecha3,
#campoInputFecha4,
#campoInputFecha2,
#campoInput16avos,
#campoInputSemifinales,
#campoInputFecha1,
#campoInput32avos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btnVolver,
#btnEnviar,
#btnAbrirInput,
#btnVolverFecha3,
#btnEnviarFecha3,
#btnAbrirInputFecha3,
#btnVolverFecha4,
#btnEnviarFecha4,
#btnAbrirInputFecha4,
#btnVolverCuartos,
#btnEnviarCuartos,
#btnAbrirInputCuartos,
#btnVolverOctavos,
#btnEnviarOctavos,
#btnAbrirInputOctavos,
#btnVolverSemifinales,
#btnEnviarSemifinales,
#btnAbrirInputSemifinales,
#btnVolverFecha2,
#btnEnviarFecha2,
#btnAbrirInputFecha2,
#btnVolver16avos,
#btnEnviar16avos,
#btnAbrirInput16avos,
#btnVolverFecha1,
#btnEnviarFecha1,
#btnAbrirInputFecha1,
#btnVolver32avos,
#btnEnviar32avos,
#btnAbrirInput32avos {
    background-color: #202C33;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.5s;
    margin-top: 1rem;

}


#btnVolver,
#btnVolverOctavos,
#btnVolverFecha2,
#btnVolver16avos,
#btnVolverFecha3,
#btnVolverFecha4,
#btnVolver32avos,
#btnVolverCuartos,
#btnVolverSemifinales {
    margin: 1rem;
}

#btnVolver:hover,
#btnEnviar:hover,
#btnAbrirInput:hover,
#btnVolverOctavos:hover,
#btnEnviarOctavos:hover,
#btnAbrirInputOctavos:hover,
#btnVolverFecha2:hover,
#btnEnviarFecha2:hover,
#btnAbrirInputFecha2:hover,
#btnVolverFecha3:hover,
#btnEnviarFecha3:hover,
#btnAbrirInputFecha3:hover,
#btnVolverFecha4:hover,
#btnEnviarFecha4:hover,
#btnAbrirInputFecha4:hover,
#btnVolver16avos:hover,
#btnEnviar16avos:hover,
#btnAbrirInput16avos:hover,
#btnVolverFecha1:hover,
#btnEnviarFecha1:hover,
#btnAbrirInputFecha1:hover,
#btnVolverFecha32avos:hover,
#btnEnviarFecha32avos:hover,
#btnAbrirInputFecha32avos:hover #btnVolverCuartos:hover,
#btnEnviarCuartos:hover,
#btnAbrirInputCuartos:hover,
#btnVolverSemifinales:hover,
#btnEnviarSemifinales:hover,
#btnAbrirInputSemifinales:hover {
    background-color: #182025;
}

#btnMas,
#btnMenos,
#btnMasOctavos,
#btnMenosOctavos,
#btnMasSemifinales,
#btnMenosSemifinales,
#btnMasFecha2,
#btnMenosFecha2,
#btnMasFecha3,
#btnMenosFecha3,
#btnMasFecha4,
#btnMenosFecha4,
#btnMas16avos,
#btnMenos16avos,
#btnMasFecha1,
#btnMenosFecha1,
#btnMas16avos,
#btnMenos16avos,
#btnMasCuartos,
#btnMenosCuartos {
    border: 1px black solid;
    width: 2rem;
    height: 2rem;

}

.primeraDivision>table>tbody>tr>td,
.primeraDivisionPromedios>div>table>tbody>tr>td,
.segundaDivision>div>table>tbody>tr>td {
    font-size: 0.7rem !important;
    /* Por ejemplo, reducir el tamaño de fuente para dispositivos más pequeños */
}


/* Estilo para la imagen en computadora */
@media only screen and (min-width: 768px) {
    .imagenLlave {
        width: 60%;
        margin: auto;
        display: block;
        margin-bottom: 200px;
    }
}

/* Estilo para la imagen en dispositivos móviles */
@media only screen and (max-width: 767px) {
    .imagenLlave {
        width: 90%;
        margin: auto;
        display: block;
    }
}

.blanco {
    color: white;
}

.tbl th,
.tbl td {
    padding: 8px;
    vertical-align: middle;
}

/* Ocultar columnas en dispositivos móviles */
@media only screen and (max-width: 768px) {

    .tbl th:nth-child(4),
    .tbl th:nth-child(5),
    .tbl td:nth-child(5),
    .tbl th:nth-child(6),
    .tbl td:nth-child(6),
    .tbl th:nth-child(7),
    .tbl td:nth-child(7),
    .tbl th:nth-child(8),
    .tbl td:nth-child(8) {
        display: none;
    }
}

.margenArriba {
    margin-top: 100px;
}

.gruposCopaA {
    display: none;
}

.btnGruposLlaves {
    width: 100px;
    background-color: #202C33;
    color: white;
    border: none;
    border-radius: 3px;
    transition: background-color 0.5s;
    margin-top: 1rem;
}

.btnGruposLlaves:hover {
    background-color: #182025;
}

.btnActivo {
    width: 100px;
    color: grey;
    border: none;
    border-radius: 3px;
    transition: background-color 0.5s;
    margin-top: 1rem;
    background-color: #182025;
}