@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


body {
    background-image: url(https://i.ibb.co/TkzVn6S/Fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    font-family: 'Archivo Black', sans-serif;
}

.banner>a>img {

    border: 2px solid black;
    border-radius: 52px;
    width: 100%;

}

.cajaBotonesFechas {
    height: 57%;
}


.cajaANT {
    padding: .7rem .5rem .7rem .5rem;
    border: 1px solid black;
    color: black;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    font-size: 1.5rem;
    text-decoration: none;
    margin-top: 0.1rem;
    display: inline-block;
    box-sizing: border-box;
}

.cajaANT:hover {
    color: black;
}

.cajaFECHA {
    font-size: 2rem;
    padding: .6rem 5rem .6rem 5rem;
    margin: 0 2rem;
    display: flex;
    border: 1px solid black;
    background-color: green;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.cajaFECHA:hover {
    color: white;
}

.cajaSIG {

    padding: .7rem .5rem .7rem .5rem;
    border: 1px solid black;
    color: black;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    font-size: 1.5rem;
    text-decoration: none;
    margin-top: 0.1rem;
    display: flex;
}

.cajaSIG:hover {
    color: black;
}


.partido>TD {
    border: 3px solid black;
}

.botones {
    height: auto;
    width: "55%";
}

.fondoMio {
    background-color: #e5e5e5;
}

.tablaMia {
    width: 170px;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.tablaMia2 {
    width: 175px;
    height: 50px;
    align-items: center;
}

.tablaMia3 {
    width: 35px;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.tamañoMio {
    width: 200px;
}

.izq {
    position: sticky;
    bottom: 30%;
    margin-left: 10px;
}

.miAcordeon {
    display: flex;
    justify-content: center;
}


.botonAcordeon>button {
    border: none;
}

.tamañoLetraT {
    font-size: 15px;
}

.tamañoLetra {
    font-size: 11px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.clickCasa:hover {
    font-size: 40px;
    font-weight: bold;
}

.partido {
    
    height: 30px;
}

.cajaFechas {
    margin-bottom: 150px;
}

.bordeGrueso {
    border: 2px solid black;
}

.margenParaPubli{
    margin-bottom: 200px;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-cly1 {
    text-align: left;
    vertical-align: middle
}

.tg .tg-mwxe {
    text-align: right;
    vertical-align: middle
}

.tg .tg-nrix {
    text-align: center;
    vertical-align: middle
}

.fecha1{
   display: none; 
}

.fecha32avos{
    
}